################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/C#12 Nutshell.sln
/Chapter2/bin/Debug/net8.0
/Chapter2/obj/Debug/net8.0/ref
/Chapter2/obj/Debug/net8.0/refint
/Chapter2/obj/Debug/net8.0/Chapter2.sourcelink.json
/Chapter2/obj/Debug/net8.0/Chapter2.pdb
/Chapter2/obj/Debug/net8.0/Chapter2.dll
/Chapter2/obj/Debug/net8.0/Chapter2.AssemblyInfoInputs.cache
/Chapter2/obj/Debug/net8.0/Chapter2.AssemblyInfo.cs
/Chapter2/obj/Debug/net8.0/apphost.exe
